.container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    
   text-decoration: none;
}

.body {
 background-color: royalblue;

    align-items: first baseline;
}
 .nwa{
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
 }

 .beatles{
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
 }

 .mamonas{
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
 }